<%- include('../header')%>
    <div class="container d-flex justify-content-center pt-5 mb-3 ">
        <div class="row userform d-flex justify-content-center">
            <div>
                <h1 class="text-center mb-4">Elfelejtett jelszó</h1>
                <form action="/forum/forgot" method="POST" role="form" autocomplete="off">
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email címed" required>
                    </div>  
                    <button class="btn btn-success btn-block mt-3 mb-3">Küldés</button>
                </form>
            </div>
            <div class="container d-flex justify-content-center">
                <span>Nincs még felhasználód? <a class="btn btn-link" href="/forum/register">Regisztráció</a></span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <%- include('../msg')%>
        </div>
    </div>       
<%- include('../footer')%>