<div class="container">
    <nav class="menu navbar">
        <a class="navbar-brand link" href="/forum/">Forum</a>
        <div class="justify-content-end">
            <a class="link" href="#">Bejelentkezés</a>
            <a class="link" href="#">Regisztráció</a>
        </div>
      </nav>
</div>