<div class="container">
    <nav class="menu navbar">
        <a class="navbar-brand link" href="/forum/">Forum</a>
        <a href="/forum/newcontent/" class="btn btn-primary mr-3">Új tartalom</a>
        <div class="justify-content-end">
            <% if(loggedUser) { %>
                <span><span style="color: rgb(55, 187, 37); font-size: 1.2em; "><%= user.username %></span>
                 <a href="#"><img class="img-fluid" style="max-height: 50px;" src="<%= user.img %>" alt="profile-img"></a>
                </span><a class="link" href="/forum/logout">Kijelentkezés</a>
            <% } else {%>
                <a class="link" href="/forum/login">Bejelentkezés</a>
                <a class="link" href="/forum/register">Regisztráció</a>
                <% } %>
        </div>
      </nav>
</div>