<%- include('header')%>
<%- include('menu')%>
<div class="container">
        <div class="container index">
                <h2 class="text-center">Új Fórum létrehozása </h2>
                <div class="container d-flex justify-content-center">
                    <div class="row">
                        <div class="control-group" id="fields">
                            <label class="control-label" for="field1"></label>
                            <div class="controls"> 
                                <form action="/forum/<%=id %>/new" method="POST" role="form" autocomplete="off">
                                    <input class="form-control" type="text" name="forumname" placeholder="Tartalom neve...">
                                    <button class="btn btn-success btn-block mb-3">Küldés</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
    </div>                 
<%- include('footer')%>