<div class="container">
    <div class="row">
            <div class="col-3">
              <a href="/forum/user/<%= user._id%>/edit"><img class="img-fluid user-normal-img" src="<%= user.img %>" alt="profile-img"></a>
            </div>
            <div class="col-9 text-left pt-1 m-auto">
              <p><i class="fa fa-user" aria-hidden="true"></i>- <%= user.username %></p>
              <p><i class="fa fa-envelope" aria-hidden="true"></i>- <%= user.email %></p>
              <% if(user.rank === 2) { %>
                      <p><i class="fa fa-user-secret" aria-hidden="true"></i>- Admin</p>
                      <% } %>
              <% if(user.rank === 1) { %>
                      <p><i class="fa fa-user-secret" aria-hidden="true"></i>- Moderátor</p>
                      <% } if(user.rank === 0) { %>
                              <p><i class="fa fa-user-secret" aria-hidden="true"></i>- Tag</p>  
                      <% } %>
            </div>
    </div>
</div> 