<%- include('../header')%>
    <div class="container d-flex justify-content-center pt-5 mb-5 ">
        <div class="row userform d-flex justify-content-center">
            <div>
                <h1 class="text-center mb-4">Bejelentkezés</h1>
                <%- include('../msg')%>
                <form action="/forum/login" method="POST" role="form" autocomplete="off">
                    <div class="form-group">
                        <input class="form-control" type="text" name="username" placeholder="Felhasználónév " required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Jelszó" required>
                    </div>    
                    <button class="btn btn-success btn-block mt-3 mb-3">Bejelentkezés</button>
                </form>
            </div>
            <div class="container d-flex justify-content-center">
                <span>Nincs még felhasználód? <a class="btn btn-link" href="/forum/register">Regisztráció</a></span>
            </div>
        </div>
    </div>       
<%- include('../footer')%>