body {
    height: 100%;
    background: black;
}

p {
    font-family:Arial Black;
}

.headforum p {
    display: inline;
}

.index {
    height: 100%;
    background: rgb(64, 107, 189);
    color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.userform {
    height: 100%;
    background: rgb(64, 107, 189);
    color: white;
}

.userform a {
    color: rgb(72, 190, 111);
    font-weight: bold;
}

.userform a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Navbar */
.navbar-dark .navbar-toggler {
    color: white;
    border-color:#6495c8;
}

.navbar {
    border-bottom: 2px solid white;
}

.menu {
    color: white;
    background: rgb(64, 107, 189);
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.link {
    color: white;
    margin: 10px;
    font-weight: bold;
}

/* Forum */

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(238, 119, 119);
}

.search {
    padding-top: 1em;
    padding-bottom: 1em;
}


.headforum {
    margin: 0.6em auto;
    background: rgb(89, 87, 102);
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 5px;
}

.headforum:hover {
    background: rgb(80, 78, 92); 
    color: black;
}

/* lines */

.underline {
    border-bottom: 2px solid white;
    padding-top: 1em;
}

.horizontal-line {
    border-left: 1px solid white;
}

.h1-content {
    color: white;
}

.p-content {
    color: white;
    font-size: 1.1rem;
}


h1 {
    margin: 0.2em 0.5em;
    display: inline;
}

h2 {
    padding: 1em;
}

h3 {
    margin-top: 1em;
}

/* forms */

.form-control {
    margin: 0.6em auto;
}

/* render topic */

.author {
    color: coral;
}

.date {
    color: blueviolet;
}


/* showtopic */

.comments {
    border: 1px solid white;
}

.showtopic {
    background: rgb(190, 70, 70);
    border: 2px solid white;
}

.showcomments {
    background: rgb(89, 87, 102);
    border: 2px solid white;
}

.profile {
    border: 3px solid white;
}